kind: Service
apiVersion: v1
metadata:
  name: ingress-service
  namespace: ingress-nginx
spec:
  type: ClusterIP
  selector:
    app: ingress-nginx
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  - name: https
    port: 443
    protocol: TCP
    targetPort: 443
  externalIPs:
  - 10.155.173.144